-- NOTE: if you have SSMS 2012 or newer, you might what to turn on Options > Query Results > Sql Server > Results to Grid > 'Retain CR/LF on copy or save'
-- This will allow you to Copy and Paste directly from the Grid results

declare
-- set to 1 to include any block attribute values updated in the last 60 minutes, even if their BlockType Attribute is IsSystem=1
@forceIncludeRecentlyUpdatedBlockAttributeValues bit = 0,

-- set to a specific pageId if you want to generate 'AddBlockAttributeValue' migrations for all the block attribute values on the page, not just the new ones
@forceIncludeBlockAttributesValuesForPageId int = null;

set nocount on
declare
@crlf varchar(2) = char(13) + char(10)

begin

IF OBJECT_ID('tempdb..#codeTable') IS NOT NULL
    DROP TABLE #codeTable

IF OBJECT_ID('tempdb..#blocksTemp') IS NOT NULL
    DROP TABLE #blocksTemp

IF OBJECT_ID('tempdb..#knownGuidsToIgnore') IS NOT NULL
    DROP TABLE #knownGuidsToIgnore

create table #knownGuidsToIgnore(
    [Guid] UniqueIdentifier, 
    CONSTRAINT [pk_knownGuidsToIgnore] PRIMARY KEY CLUSTERED  ( [Guid]) 
);

-- External Site Layouts
insert into #knownGuidsToIgnore values 
('9D21BE8A-FD3A-4B91-8594-53C1528468A1'), --Dialog
('8378B293-4642-4F1B-90A8-502187984FCB'), --Three Column
('22F952AB-DE33-4607-9867-75AC5E97A928'), --Error
('ADC7866C-D0B3-4B97-9AB2-EACB36EA24ED') --Right Sidebar

-- Internal Site Layouts
insert into #knownGuidsToIgnore values 
('9433041E-FD96-4DD8-A60F-A641C48BED7D'), --Error
('1A8A455E-619F-437E-A7BD-50C09B5B3576') --Homepage

-- Internal Site Pages
insert into #knownGuidsToIgnore values 
('0C4B3F4D-53FD-4A65-8C93-3868CE4DA137'), --Intranet
('7F2581A1-941E-4D51-8A9D-5BE9B881B003'), --Office Info
('895F58FB-C1C4-4399-A4D8-A9A10225EA09'), --Employee Resources
('FBC16153-897B-457C-A35F-28FDFDC466B6') --Shared Documents

-- External Site Pages
 --My Account

-- External site blocks
 -- External WebSite
            

            
     


-- Internal site PersonDetail blocks
 -- Page: Extended Attributes, Block:Education

-- Internal site blocks
  -- Internal Home Page > Active Users External

-- Internal site PersonDetail block attribute values
 -- Attribute:Category Page , Page: Extended Attributes, Block:Education

-- External site block attribute values
 -- Attrib Value for Block:Create Pledge, Attribute:Confirmation Email Template Page: Pledge, Site: Rock Solid Church


create table #codeTable (
    Id int identity(1,1) not null,
    CodeText nvarchar(max),
    CONSTRAINT [pk_codeTable] PRIMARY KEY CLUSTERED  ( [Id]) );
    
	-- layouts
    insert into #codeTable
    SELECT '            RockMigrationHelper.AddLayout("' +
        CONVERT( nvarchar(50), [s].[Guid]) + '","'+ 
        [l].[FileName] +  '","'+
        [l].[Name] +  '","'+
        ISNULL([l].[Description],'')+  '","'+
        CONVERT( nvarchar(50), [l].[Guid])+  '");' + ' // Site:' + s.Name 
    FROM [Layout] [l]
    join [Site] [s] on [s].[Id] = [l].[SiteId]
    where [l].[IsSystem] = 0
    and [l].[Guid] not in (select [Guid] from #knownGuidsToIgnore)
    order by [l].[Id]

    insert into #codeTable
    SELECT @crlf

	-- pages
    insert into #codeTable
    SELECT '            RockMigrationHelper.AddPage(' +
		' true, "' +
        CONVERT( nvarchar(50), [pp].[Guid]) + '","'+ 
        CONVERT( nvarchar(50), [l].[Guid]) + '","'+ 
        [p].[InternalName]+  '","'+  
        ISNULL([p].[Description],'')+  '","'+
        CONVERT( nvarchar(50), [p].[Guid])+  '","'+  
        ISNULL([p].[IconCssClass],'')+ '");' + ' // Site:' + s.Name 
    FROM [Page] [p]
    join [Page] [pp] on [pp].[Id] = [p].[ParentPageId]
	join [Layout] [l] on [l].[Id] = [p].[layoutId]
	join [site] [s] on [s].[Id] = [l].[siteId]
    where [p].[IsSystem] = 0
    and [p].[Guid] not in (select [Guid] from #knownGuidsToIgnore)
    order by [p].[Id]

    insert into #codeTable
    SELECT @crlf

    -- page routes
    insert into #codeTable
    SELECT '            RockMigrationHelper.AddPageRoute("' +
        CONVERT( nvarchar(50), [p].[Guid])+  '","'+  
        CONVERT( nvarchar(50), [pr].[Route]) + '","'+
		CONVERT( nvarchar(50), [pr].[Guid])+  '");'+ '// for Page:' + p.InternalName
    FROM [Page] [p]
    join [PageRoute] [pr] on [pr].[PageId] = [p].[Id]
    where [p].[IsSystem] = 0
    and [p].[Guid] not in (select [Guid] from #knownGuidsToIgnore)
    order by [p].[Id]

    insert into #codeTable
    SELECT @crlf

    -- block types
    insert into #codeTable
    SELECT '            RockMigrationHelper.UpdateBlockType("'+
        [Name]+ '","'+  
        ISNULL([Description],'')+ '","'+  
        [Path]+ '","'+  
        [Category]+ '","'+  
        CONVERT( nvarchar(50),[Guid])+ '");'
    from [BlockType]
    where [IsSystem] = 0
    and [Guid] not in (select [Guid] from #knownGuidsToIgnore) -- shouldn't happen
    order by [Id]

    insert into #codeTable
    SELECT @crlf

    -- blocks
	SELECT p.InternalName [p.InternalName]
			,l.NAME [l.Name]
			,s.NAME [s.Name]
			,p.Id [p.Id]
 			,p.[Guid] [p.Guid]
			,l.[Guid] [l.Guid]
			,s.[Guid] [s.Guid]
			,bt.[Guid] [bt.Guid]
			,b.Name [b.Name]
			,b.Zone [b.Zone]
			,b.PreHtml [b.PreHtml]
			,b.PostHtml [b.PostHtml]
			,b.[Order] [b.Order]
			,b.[Guid] [b.Guid]
			,b.Id
			into #blocksTemp
		FROM [Block] [b]
		JOIN [BlockType] [bt] ON [bt].[Id] = [b].[BlockTypeId]
		LEFT OUTER JOIN [Page] [p] ON [p].[Id] = [b].[PageId]
		LEFT OUTER JOIN [Layout] [l] ON [l].[Id] = [b].[LayoutId]
		LEFT OUTER JOIN [Layout] [pl] ON [pl].[Id] = [p].[LayoutId]
		JOIN [site] [s] ON [s].[Id] = [l].[siteId]
			OR [s].[Id] = [pl].[siteId]
			OR [s].[Id] = [b].[SiteId]
		WHERE [b].[IsSystem] = 0
			AND [b].[Guid] NOT IN (
				SELECT [Guid]
				FROM #knownGuidsToIgnore
				)
		ORDER BY [b].[Id]
	
    
    insert into #codeTable
    SELECT 
        '            // Add Block to ' + ISNULL('Page: ' + [p.InternalName],'') + ISNULL('Layout: ' + [l.Name], '') + ISNULL(' Site: ' + [s.Name], '') +
        @crlf + 
		'            RockMigrationHelper.AddBlock(' +
		' true, ' +
        ISNULL(CONVERT(nvarchar(50), '"' + convert(varchar(50),[p.Guid]) + '".AsGuid()'),'null') + ','+ 
        ISNULL(CONVERT(nvarchar(50), '"' + convert(varchar(50),[l.Guid]) + '".AsGuid()'),'null') + ','+
		ISNULL(CONVERT(nvarchar(50), '"' + convert(varchar(50),[s.Guid]) + '".AsGuid()'),'null') + ','+
        CONVERT(nvarchar(50), '"' + convert(varchar(50),[bt.Guid]) + '".AsGuid()')+ ', "'+
        [b.Name]+ '","'+
        [b.Zone]+ '",@"'+
		ISNULL(replace([b.PreHtml], '"', '""'), '')+ '",@"'+
		ISNULL(replace([b.PostHtml], '"', '""'), '')+ '",'+
        CONVERT(varchar, [b.Order])+ ',"'+
        CONVERT(nvarchar(50), [b.Guid])+ '"); '+
        @crlf
    from #blocksTemp

	if exists (select * from #blocksTemp bt 
	join [Block] b on b.PageId = bt.[p.Id] and b.Zone = bt.[b.Zone]
	where b.PageId in (select PageId from (
		select count(*) [PageBlockCount], bb.PageId, bb.Zone from [Block] bb group by bb.PageId, bb.Zone) a
		where a.PageBlockCount > 1
	    and PageId is not null)) begin
		insert into #codeTable select '            // update block order for pages with new blocks if the page,zone has multiple blocks'
	end

	
	declare @tempBlockOrderCode table (f nvarchar(max) )

	insert into @tempBlockOrderCode
	select concat('            Sql(@"', 'UPDATE [Block] SET [Order] = ', b.[Order], ' WHERE [Guid] = ''', b.[Guid]
	, '''");  // Page: ', bt.[p.InternalName]
	, ',  Zone: ', b.Zone
	, ',  Block: ', b.Name
	) 
	from #blocksTemp bt 
	join [Block] b on b.PageId = bt.[p.Id] and b.Zone = bt.[b.Zone]
	where b.PageId in (select PageId from (
		select count(*) [PageBlockCount], bb.PageId, bb.Zone from [Block] bb group by bb.PageId, bb.Zone) a
		where a.PageBlockCount > 1
	    and PageId is not null)
	order by bt.[p.InternalName], b.Zone, b.[Order]

	insert into #codeTable select distinct * from @tempBlockOrderCode

	insert into #codeTable
    SELECT @crlf
	
	DROP TABLE #blocksTemp

    -- html content blocks
    insert into #codeTable
    SELECT
        '            // Add/Update HtmlContent for ' + ISNULL('Block: ' + b.Name,'') +
        @crlf + 
		'            RockMigrationHelper.UpdateHtmlContentBlock("' +
        ISNULL(CONVERT(nvarchar(50), [b].[Guid]),'') + '",@"'+ 
        replace(h.Content, '"', '""') + '","'+
        CONVERT(nvarchar(50), [h].[Guid])+ '"); '+
        @crlf
    from [Block] [b]
    join [BlockType] [bt] on [bt].[Id] = [b].[BlockTypeId]
    join [HtmlContent] [h] on [h].BlockId = b.Id
    where [b].[IsSystem] = 0
    and [b].[Guid] not in (select [Guid] from #knownGuidsToIgnore)
    order by [b].[Id]

    -- attributes
    if object_id('tempdb..#attributeIds') is not null
    begin
      drop table #attributeIds
    end

    select * 
	into #attributeIds 
	from (
		select A.[Id] 
		from [dbo].[Attribute] A
		inner join [EntityType] E 
			ON E.[Id] = A.[EntityTypeId]
		where A.[IsSystem] = 0
        and [A].[Guid] not in (select [Guid] from #knownGuidsToIgnore)
		and E.[Name] = 'Rock.Model.Block'
		and A.EntityTypeQualifierColumn = 'BlockTypeId'
	) [newattribs]
    
    insert into #codeTable
    SELECT @crlf

    insert into #codeTable
    SELECT 
        '            // Attrib for BlockType: ' + bt.Name + ':'+ a.Name+
        @crlf +
        '            RockMigrationHelper.UpdateBlockTypeAttribute("'+ 
        CONVERT(nvarchar(50), bt.Guid)+ '","'+   
        CONVERT(nvarchar(50), ft.Guid)+ '","'+     
        a.Name+ '","'+  
        a.[Key]+ '","'+ 
        ''+ '",@"'+ 
		ISNULL(replace(a.[Description], '"', '""'),'') + '",'+ 
        CONVERT(varchar, a.[Order])+ ',@"'+ 
        ISNULL(replace(a.[DefaultValue], '"', '""'),'') + '","'+
        CONVERT(nvarchar(50), a.Guid)+ '");' +
        @crlf
    from [Attribute] [a]
    left outer join [FieldType] [ft] on [ft].[Id] = [a].[FieldTypeId]
    left outer join [BlockType] [bt] on [bt].[Id] = cast([a].[EntityTypeQualifierValue] as int)
    where EntityTypeQualifierColumn = 'BlockTypeId'
    and [a].[id] in (select [Id] from #attributeIds)
    -- only include CustomGridEnableStickyHeaders if it has an AttributeValue for any of its blocks
	and ([a].[Key] != 'core.CustomGridEnableStickyHeaders' or a.Id in (select AttributeId from AttributeValue ))
	-- only include CustomGridColumnsConfig if it has an AttributeValue for any of its blocks
	and ([a].[Key] != 'core.CustomGridColumnsConfig' or a.Id in (select AttributeId from AttributeValue ))

    insert into #codeTable
    SELECT @crlf

    -- attributes values (just Block Attributes)    
    insert into #codeTable
    SELECT 
        '            // Attrib Value for Block:'+ b.Name + ', Attribute:'+ a.Name + ' ' + ISNULL('Page: ' + p.InternalName,'') + ISNULL(', Layout: ' + l.Name, '') +  ISNULL(', Site: ' + s.Name, '') +
        @crlf +
        '            RockMigrationHelper.AddBlockAttributeValue("'+     
        CONVERT(nvarchar(50), b.Guid)+ '","'+ 
        CONVERT(nvarchar(50), a.Guid)+ '",@"'+ 
        ISNULL(replace(av.Value, '"', '""'),'')+ '");'+
        @crlf
    from [AttributeValue] [av]
    join Block b on b.Id = av.EntityId
    join Attribute a on a.id = av.AttributeId
    left outer join [Page] [p] on [p].[Id] = [b].[PageId]
	left outer join [Layout] [l] on [l].[Id] = [b].[LayoutId]
	left outer join [Layout] [pl] on [pl].[Id] = [p].[LayoutId]
	join [site] [s] on [s].[Id] = [l].[siteId] or [s].[Id] = [pl].[siteId]
    where (([av].[AttributeId] in (select [Id] from #attributeIds) 
          -- also include AttributeValues for non-system/non-shipping blocks
          or ((b.IsSystem = 0 and [b].[Guid] not in (select [Guid] from #knownGuidsToIgnore) ) and a.EntityTypeQualifierColumn = 'BlockTypeId' )

		  -- if enabled, include all block attribute values updated in the last 60 minutes, even if their BlockType Attribute is already IsSystem=1
		  or (@forceIncludeRecentlyUpdatedBlockAttributeValues = 1 and DATEDIFF(minute, SYSDATETIME(),av.ModifiedDateTime) <= 60)
          )
    and [av].[Guid] not in (select [Guid] from #knownGuidsToIgnore))
	or (@forceIncludeBlockAttributesValuesForPageId is not null and b.[Id] in (
		SELECT b.[Id]
		FROM [block] b
		WHERE b.[PageId] = @forceIncludeBlockAttributesValuesForPageId
	))
    order by b.Id
    
    drop table #attributeIds

    insert into #codeTable
    SELECT @crlf

	-- Field Types
	insert into #codeTable
	SELECT
        '            RockMigrationHelper.UpdateFieldType("'+    
        ft.Name+ '","'+ 
        ISNULL(ft.Description,'')+ '","'+ 
        ft.Assembly+ '","'+ 
        ft.Class+ '","'+ 
        CONVERT(nvarchar(50), ft.Guid)+ '");'+
        @crlf
    from [FieldType] [ft]
    where (ft.IsSystem = 0)

    insert into #codeTable
    SELECT @crlf
    
    -- Page Contexts
    insert into #codeTable
      SELECT '            // Add/Update PageContext for Page:' + p.InternalName + ', Entity: ' + pc.Entity + ', Parameter: ' + pc.IdParameter  
      + @crlf +
      + '            RockMigrationHelper.UpdatePageContext( "' + convert(nvarchar(max), p.Guid) + '", "' + pc.Entity +  '", "' + pc.IdParameter +  '", "' + convert(nvarchar(max), pc.Guid) + '");'
      + @crlf
    FROM [dbo].[PageContext] [pc]
    join [Page] [p]
    on [p].[Id] = [pc].[PageId]
    where [pc].[IsSystem] = 0

    select CodeText [MigrationUp] from #codeTable 
    where REPLACE(CodeText, @crlf, '') != ''
    order by Id
    delete from #codeTable

    -- generate MigrationDown

    insert into #codeTable SELECT         
        '            // Attrib for BlockType: ' + bt.Name + ':'+ a.Name+
        @crlf +
        '            RockMigrationHelper.DeleteAttribute("'+ 
		CONVERT(nvarchar(50), [A].[Guid]) + '");' 
		from [Attribute] [A]
		inner join [EntityType] E 
			ON E.[Id] = A.[EntityTypeId]
		left outer join [BlockType] [bt] on [bt].[Id] = cast([a].[EntityTypeQualifierValue] as int)
		where A.[IsSystem] = 0
        and [A].[Guid] not in (select [Guid] from #knownGuidsToIgnore) 
		and E.[Name] = 'Rock.Model.Block'
		and A.EntityTypeQualifierColumn = 'BlockTypeId'
		-- only include CustomGridEnableStickyHeaders if it has an AttributeValue for any of its blocks
		and ([a].[Key] != 'core.CustomGridEnableStickyHeaders' or a.Id in (select AttributeId from AttributeValue ))
		-- only include CustomGridColumnsConfig if it has an AttributeValue for any of its blocks
		and ([a].[Key] != 'core.CustomGridColumnsConfig' or a.Id in (select AttributeId from AttributeValue ))
       
		order by [A].[Id] desc   

    insert into #codeTable
    SELECT @crlf

    insert into #codeTable 
	SELECT 
        '            // Remove Block: ' + b.Name + ', from ' + ISNULL('Page: ' + p.InternalName,'') + ISNULL(', Layout: ' + l.Name, '')  +  ISNULL(', Site: ' + s.Name, '') +
        @crlf + 
		'            RockMigrationHelper.DeleteBlock("'+ CONVERT(nvarchar(50), [b].[Guid])+ '");'
        from [Block] [b]
		left outer join [Page] [p] on [p].[Id] = [b].[PageId]
		left outer join [Layout] [l] on [l].[Id] = [b].[LayoutId]
		left outer join [Layout] [pl] on [pl].[Id] = [p].[LayoutId]
		join [site] [s] on [s].[Id] = [l].[siteId] or [s].[Id] = [pl].[siteId]
		where [b].[IsSystem] = 0
        and [b].[Guid] not in (select [Guid] from #knownGuidsToIgnore) 
		order by [b].[Id] desc

    insert into #codeTable 
	SELECT 
		'            RockMigrationHelper.DeleteBlockType("'+ CONVERT(nvarchar(50), [Guid])+ '"); // '+ 
		[Name] 
	from [BlockType] 
	where [IsSystem] = 0
    and [Guid] not in (select [Guid] from #knownGuidsToIgnore) 
	order by [Id] desc

    insert into #codeTable
    SELECT @crlf

    insert into #codeTable 
	SELECT 
		'            RockMigrationHelper.DeletePage("'+ CONVERT(nvarchar(50), [p].[Guid])+ '"); // ' + ISNULL(' Page: ' + p.InternalName,'') + ISNULL(', Layout: ' + l.Name, '')  +  ISNULL(', Site: ' + s.Name, '') 
	from [Page] [p]
	join [Layout] [l] on [l].[Id] = [p].[layoutId]
	join [site] [s] on [s].[Id] = [l].[siteId]
    where [p].[IsSystem] = 0
    and [p].[Guid] not in (select [Guid] from #knownGuidsToIgnore) 
	order by [p].[Id] desc 

    insert into #codeTable
    SELECT @crlf

    insert into #codeTable
    SELECT 
	'            RockMigrationHelper.DeleteLayout("'+ CONVERT(nvarchar(50), [l].[Guid])+ '"); // '  + ISNULL(' Layout: ' + l.Name, '')  +  ISNULL(', Site: ' + s.Name, '')  
    FROM [Layout] [l]
    join [Site] [s] on [s].[Id] = [l].[SiteId]
    where [l].[IsSystem] = 0
    and [l].[Guid] not in (select [Guid] from #knownGuidsToIgnore) 
    order by [l].[Id] desc

    insert into #codeTable
    SELECT '            // Delete PageContext for Page:' + p.InternalName + ', Entity: ' + pc.Entity + ', Parameter: ' + pc.IdParameter  + @crlf +
    + '            RockMigrationHelper.DeletePageContext( "' + convert(nvarchar(max), pc.Guid) + '");'
    + @crlf  
    FROM [dbo].[PageContext] [pc]
    join [Page] [p]
    on [p].[Id] = [pc].[PageId]
    where [pc].[IsSystem] = 0

    select CodeText [MigrationDown] from #codeTable
    where REPLACE(CodeText, @crlf, '') != ''
    order by Id

IF OBJECT_ID('tempdb..#codeTable') IS NOT NULL
    DROP TABLE #codeTable

IF OBJECT_ID('tempdb..#knownGuidsToIgnore') IS NOT NULL
    DROP TABLE #knownGuidsToIgnore

end
